<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_head">
</head>
<body style="background-color: rgba(60,60,60,255)">
    
    <header>
        <partial name="_nav">
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container" >
             <a href="~/" style="text-decoration: none;"> <p> &copy; 2024 - FWorld</p> </a> 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/themeMode.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
